<h2><%= @profile.user.first_name %></h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @profile.eye_color %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @profile.hair_color %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @profile.ethnicity %>
</p>
<% if current_user == @profile.user %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> ||
<% else %>
  <%= current_user.send_message(@profile.user.email, "Body", "subject") %> ||
  <%= link_to 'Interests', interest_path %> ||
<% end %>
<%= link_to 'Back', profiles_path %>
